body{
    color: rgb(70, 41, 40);
    background-color: rgb(243, 230, 226);
    font-family: 'Varela Round', sans-serif;
}
.main{
    padding: 20px 3%;
}

.subhead::first-letter{
    initial-letter: 2;
    font-weight: bold;
    margin-right: .75em;
}

/* This is the navigation area */
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    /* padding: 20px 0.5%;  */
}
.Travel{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.nav_links {
    list-style: none;
  
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    color: darkgray;
    text-decoration: none; 
}

.nav_links .active li a{
    font-weight: bolder;
    color: rgb(70, 41, 40);
}
/* Submission date */
.Publish_date{
 font-size: 9.5px;   
 display: inline-flex;
 /* padding: 16px; */
}

.posted{
margin-right: 9px;
color:antiquewhite;
text-align: center;
vertical-align: middle; 
background-color: rgb(58, 32, 28);
border-radius: 4px;
width: 65.5px;
height: 12.5px;
}

/* Author info and social media */
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 3%; */
}

.information p{
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    float: right;
}

.below{
    background-color: rgb(58, 32, 28);
    height: 200px;
}

.below i{
    color:aliceblue;
    align-items: center;
    text-align: center;
}

.wrapper{display: inline-flex;}

/* Navigation buttons below */
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px 50px; 
}

.click{
background-color: transparent;
    color: black;
    border: 2px solid rgb(58, 32, 28);
    width: 40px;
    height: 40px;
}

.click:hover{
    background-color: rgb(58, 32, 28);
    color: rgb(243, 230, 226);
}

.next{
    background-color: rgb(58, 32, 28);
    border: 2px solid rgb(58, 32, 28);
    float: right;
    color: rgb(243, 230, 226);
    width: max-content;
}

/* Photos */
.photo{
    width: 400px;
    height: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.item{
    width: fit-content;
    min-height: min-content;
}
.polaroid {
    background: #fff;
    padding: 1rem;
  }
  .polaroid img {
    max-width: 100%; 
    margin-bottom: 25px;
  } 

  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
  }
/* Footer Area */
  footer{
    position: relative;
    background-color: rgb(63, 46, 42);
    min-height: 100px;
    padding: 20px 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .socials, 
  footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 10px 0; 
    flex-wrap: wrap;
  }
footer .socials li,
footer .menu li{
    list-style: none;
}
footer .socials li a{
font-size: 24px;
color: white;
margin: 0 10px;
display: inline-block;
}
footer .menu li a{
    font-size: 0.8em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    }
.footer{
    position: relative;
    background-color: rgb(104, 65, 57);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: white;
    font-size: 0.8em;
}